<mat-card class="wrap">
  <form [formGroup]="form" #frm="ngForm" (submit)="submit()" novalidate class="form">
    <mat-form-field class="full-w" id="email">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="email" maxlength="1024" />
      <mat-error *ngIf="frm.submitted && form.get('email')?.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="frm.submitted && form.get('email')?.hasError('email')">Email is not valid</mat-error>
    </mat-form-field>

    <mat-form-field class="full-w" id="pwd">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password" autocomplete="new-password" maxlength="1024" />
      <mat-error *ngIf="frm.submitted && form.get('password')?.hasError('required')">Password is required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-w" id="c-pwd">
      <mat-label>Confirm Password</mat-label>
      <input formControlName="passwordVerify" matInput type="password" autocomplete="new-password" maxlength="1024" />
      <mat-error *ngIf="frm.submitted && form.get('passwordVerify')?.hasError('required')">Plase, confirm password</mat-error>
    </mat-form-field>

    <app-validation-message [isShown]="frm.submitted && form.errors?.mustMatch" id="c-pwd-msg">
      Passwords doesn't match
    </app-validation-message>

    <app-validation-message [isShown]="!!serverError" id="s-msg">
      {{ serverError?.message }}
    </app-validation-message>

    <div class="footer">
      <div class="flex-row">
        <a mat-button [routerLink]="['..', 'signin']" class="link">Go to sign in</a>
        <button [disabled]="isSending" type="submit" mat-raised-button color="primary">Sign Up!</button>
      </div>
    </div>
  </form>
</mat-card>
