:host {
  display: block;
  width: 250px;
  height: 250px;
  border: 1px solid #ccc;
  margin: 20px;
  position: relative;
  cursor: pointer;
}

@media (max-width: 663px) {
  :host {
    width: 100%;
  }
}

.author {
  position: absolute;
  top: -11px;
  left: 10px;
  font-size: 12px;
  background-color: #fff;
  height: 18px;
  max-width: calc(100% - 15px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.add {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
