<form [formGroup]="form" #frm="ngForm" (submit)="submit()" novalidate class="form" class="content">
  <h1 mat-dialog-title class="title" [ngSwitch]="!!data?.id">
    <ng-container *ngSwitchCase="true">
      A Note from <span class="author">{{ data?.author }}</span>
    </ng-container>
    <ng-container *ngSwitchCase="false"> Post a new Note</ng-container>
  </h1>
  <div mat-dialog-content>
    <label class="label">
      Author Name
      <input formControlName="author" maxlength="1024" class="full-w input" />
    </label>
    <app-validation-message [isShown]="frm.submitted && !!form.get('author')?.hasError('required')">
      Author name is required
    </app-validation-message>

    <label class="label">
      What you like to say?
      <textarea formControlName="text" maxlength="4096" class="full-w text"></textarea>
    </label>
    <app-validation-message [isShown]="frm.submitted && !!form.get('text')?.hasError('required')">
      Note text is required
    </app-validation-message>
    <app-validation-message [isShown]="!!serverError">{{ serverError?.message }}</app-validation-message>
  </div>

  <div mat-dialog-actions class="footer">
    <div class="flex-row">
      <button mat-button type="button" mat-dialog-close>Cancel</button>
      <button mat-button type="submit" [disabled]="isSending" color="primary" cdkFocusInitial>{{ data?.id ? 'Save' : 'Post' }}</button>
    </div>
  </div>
</form>
