<form [formGroup]="form" #frm="ngForm" (submit)="submit()" novalidate class="form" class="content">
  <h1 mat-dialog-title>Post a new Note</h1>
  <div mat-dialog-content>
    <mat-form-field class="full-w">
      <mat-label>Author Name</mat-label>
      <input formControlName="author" matInput maxlength="1024" />
      <mat-error *ngIf="frm.submitted && form.get('author')?.hasError('required')">Author name is required</mat-error>
    </mat-form-field>

    <mat-label>What you like to say?</mat-label>
    <textarea formControlName="text" rows="7" maxlength="4096" class="full-w text"></textarea>
    <mat-error *ngIf="frm.submitted && form.get('text')?.hasError('required')">This field is required</mat-error>

    <app-validation-message [isShown]="!!serverError">{{ serverError?.message }}</app-validation-message>
  </div>

  <div mat-dialog-actions class="footer">
    <div class="flex-row">
      <button mat-button type="button" mat-dialog-close>Cancel</button>
      <button mat-button type="submit" [disabled]="isSending" color="primary" cdkFocusInitial>Post</button>
    </div>
  </div>
</form>
