:host {
  display: block;
  width: 520px;
}

@media (max-width: 520px) {
  :host {
    width: auto;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-row {
  display: flex;
}

.full-w {
  width: 100%;
}

.label {
  display: block;
  color: rgba(0, 0, 0, 0.54);
}

.input {
  font-family: Arial, Helvetica, sans-serif;
  height: 32px;
  line-height: 32px;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  width: 100%;
  min-height: 200px;
  resize: none;
  line-height: 24px;
  border-color: rgba(0, 0, 0, 0.54);
}
