:host {
  display: block;
  width: 250px;
  height: 250px;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
  position: relative;
  cursor: pointer;

  &:hover {
    .del {
      display: block;
    }
  }
}

@media (max-width: 743px) {
  :host {
    width: 100%;
  }
}

.author {
  position: absolute;
  top: -11px;
  left: 10px;
  font-size: 12px;
  background-color: #fff;
  height: 18px;
  max-width: calc(100% - 18px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text {
  margin: 0;
  font-size: 14px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.del {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
}
